:root {
  --clr-beige-100: #f8f4f0;
  --clr-beige-500: #98908b;

  --clr-grey-100: #f2f2f2;
  --clr-grey-300: #b3b3b3;
  --clr-grey-500: #696868;
  --clr-grey-900: #201f24;

  --clr-green: #277c78;
  --clr-yellow: #f2cdac;
  --clr-cyan: #82c9d7;
  --clr-navy: #626070;
  --clr-red: #c94736;
  --clr-purple-300: #af81ba;
  --clr-purple-500: #82c9d7;
  --clr-turquoise: #597c7c;
  --clr-brown: #93674f;
  --clr-magenta: #934f6f;
  --clr-blue: #3f82b2;
  --clr-navy-grey: #97a0ac;
  --clr-army-green: #7f9161;
  --clr-gold: #cab361;
  --clr-orange: #be6c49;
  --clr-white: #fff;

  --ff-primary: "Public Sans", sans-serif;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  --fs-75: 0.75rem;
  --fs-80: 0.813rem;
  --fs-87: 0.875rem;
  --fs-100: 1rem;
  --fs-110: 1.125rem;
  --fs-125: 1.25rem;
  --fs-150: 1.5rem;
  --fs-175: 1.75rem;
  --fs-200: 2rem;
  --fs-225: 2.25rem;
  --fs-250: 2.5rem;
  --fs-300: 3rem;
  --fs-400: 4rem;
  --fs-550: 5.5rem;
  --fs-900: 9rem;

  --fs-h1: var(--fs-200);
  --fs-h2: var(--fs-125);
  --fs-h3: var(--fs-100);
  --fs-h4: var(--fs-87);
  --fs-h5: var(--fs-75);

  --line-height-medium: 1.2;
  --line-height-large: 1.5;

  --spacing-25: 0.25rem;
  --spacing-50: 0.5rem;
  --spacing-75: 0.75rem;
  --spacing-100: 1rem;
  --spacing-125: 1.25rem;
  --spacing-150: 1.5rem;
  --spacing-175: 1.75rem;
  --spacing-200: 2rem;
  --spacing-215: 2.125rem;
  --spacing-250: 2.5rem;
  --spacing-300: 3rem;
  --spacing-350: 3.5rem;
  --spacing-400: 4rem;
  --spacing-450: 4.5rem;
  --spacing-500: 5rem;
  --spacing-530: 5.3rem;
  --spacing-600: 6rem;
  --spacing-700: 7rem;

  --br-250: 0.25rem;
  --br-750: 0.75rem;
  --br-1000: 1rem;
  --br-1500: 1.5rem;

  --pagination-buttons-size: 2.5rem;

  --search-icon-size: 16px;
}
